#my-nav {
    position: fixed;
    width: 100%;
    background-color: black;
    height: 60px !important;
    min-height: 0px;
    z-index: 9999;
    margin-bottom: 0;
    margin-top: -20px;
    border-radius: 0px;
}

#blog-header {
    color: black;
    text-align: right;
    margin-bottom: 20px;
}

#blog-main {
    padding: 0;
    margin-right: 5px;
}

#blog-sidebar {
    background-color: white;
    margin-top: -3px;
    padding: 0px 0px 20px 0px;
}

.affix {
    position: fixed;
    top: 40px;
}

.affix-top {
    position: static;
}

.affix-bottom {
    position: absolute;
}

#blog-footer {
    background-color: black;
    color: silver;
    padding: 15px;
}

.asideleft {
    border: 1px #e5e5e5 solid;
    padding-top: 0px;
    margin-top: 20px;
}

.asideleft h3 {
    letter-spacing: -0.5px;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 10px;
}

.asideleft {
    font-size: 1em;
    line-height: 18px;
}

.mainContent {
    margin-left: 15px;
    margin-bottom: 20px;
    border: 1px solid #b2b2b2;
    padding: 0;
}

.mainContentDescription {
    margin: 3px 7px;
    padding: 0;
}

#wrapper {
    padding-top: 30px;
}

.mainContent a:hover {
    color: silver;
}

.navbar-form .input-group {
    width: 40%;
}

.newLink {
    border-radius: 10px;
    margin: 20px 5px;
    /* margin-left: 15px; */
    padding: 0px;
    box-shadow: 1px 1px 5px #888888;
}

.btn {
    font-size: 1em;
    padding: 5px 5px;
    color: #3eb0f7;
    border-radius: 100px;
    border-width: 3px;
    border-color: #3eb0f7;
    font-weight: 600;
    background: inherit;
    margin: 5px 5px;
    transition: all 0.4s;
}

.btn:hover {
    background-color: #3eb0f7;
    color: white;
}

.access {
    width: 80%;
    /* margin-left: -0px; */
}

.message {
	font-size: 2em;
}

.sellerinfo h3 {
    font-size: 1.4em;
}
